body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    transition: background 0.5s, color 0.5s;
}

#themeToggle {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin-top: 20px;
}
